In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os
from sqlalchemy import create_engine

In [2]:
url = 'https://www.goodcarbadcar.net/2021-us-vehicle-sales-figures-by-model/'
# Retrieve page with the requests module
html = requests.get(url)

In [12]:
tables = pd.read_html(html.text)
car_sales = tables[0]
car_sales.head

<bound method NDFrame.head of                 Model        Month     Month LY  Change            YTD  \
0             Mazda 3         2463         3175  -22.43          32216
1      Toyota 4Runner        13210         9860   33.98          94802
2             Mazda 6         1435         1230   16.67          15529
3     Volvo 60-Series         1153         1790  -35.59           9316
4    Toyota 86 / FR-S            1          236  -99.58           1042
..                ...          ...          ...     ...            ...
111        Volvo XC60         3266         2981    9.56          28363
112        Volvo XC90         3542         2998   18.15          27211
113      Toyota Yaris            3          726  -99.59            205
114             Model        Month     Month LY     NaN            YTD
115               NaN  ∑ = 619,806  ∑ = 701,856     NaN  ∑ = 5,701,650

            YTD LY  YTD Change
0            22634       42.33
1            76598       23.77
2            10514       47.70
3             8975        3.80
4             1816      -42.62
..             ...         ...
111          17830       59.07
112          19863       36.99
113           4963      -95.87
114         YTD LY         NaN
115  ∑ = 4,713,066         NaN

[116 rows x 7 columns]>

### Connect to local database

In [ ]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()